version: '3.8'

services:
  api:
    image: redbear-mem:latest
    container_name: api
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./files:/files
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload --log-level debug

  worker:
    image: redbear-mem:latest
    container_name: worker
    env_file:
      - .env
    volumes:
      - ./files:/files
    command: celery -A app.celery_worker.celery_app worker --loglevel=info