
# Neo4j Configuration (记忆系统数据库)
NEO4J_URI= 
NEO4J_USERNAME=
NEO4J_PASSWORD= 


# Postgres Database configuration 
DB_HOST= 
DB_PORT= 
DB_USER= 
DB_PASSWORD= 
DB_NAME= 

# Database Migration Configuration
# Set to true to automatically upgrade database schema on startup
DB_AUTO_UPGRADE=false



# Redis configuration
REDIS_HOST= 
REDIS_PORT= 
REDIS_DB=
REDIS_PASSWORD=password

#celery
BROKER_URL= 
RESULT_BACKEND= 
CELERY_BROKER=
CELERY_BACKEND=

# ElasticSearch configuration
ELASTICSEARCH_HOST= 
ELASTICSEARCH_PORT= 
ELASTICSEARCH_USERNAME= 
ELASTICSEARCH_PASSWORD= 
ELASTICSEARCH_VERIFY_CERTS= 
ELASTICSEARCH_CA_CERTS=
ELASTICSEARCH_REQUEST_TIMEOUT= 
ELASTICSEARCH_RETRY_ON_TIMEOUT= 
ELASTICSEARCH_MAX_RETRIES= 

# xinference configuration
XINFERENCE_URL= 

# LangSmith configuration 
LANGCHAIN_TRACING_V2= 
LANGCHAIN_TRACING= 
LANGCHAIN_API_KEY=
LANGCHAIN_ENDPOINT=

# This key is used for signing JWT tokens.
# It should be a long, random string and kept secret.
# Generate a new one with: openssl rand -hex 32
SECRET_KEY=your-secret-key-here-generate-with-openssl-rand-hex-32

# JWT Token expiration settings
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Single Sign-On configuration
ENABLE_SINGLE_SESSION=

# File Upload
MAX_FILE_SIZE=52428800  # 50MB:10 * 1024 * 1024
FILE_PATH=/files

# VOLC ASR
VOLC_APP_KEY=
VOLC_ACCESS_KEY=
VOLC_SUBMIT_URL=
VOLC_QUERY_URL=

# Server Configuration
SERVER_IP=127.0.0.1


web_search=
KB_embedding_id=
KB_reranker_id=
KB_llm_id=
KB_image2text_id=

config_id=
reranker_id=

