TZ=Asia/Shanghai

# Neo4j Configuration (记忆系统数据库)
NEO4J_URI=bolt://127.0.0.1:7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=your-neo4j-password


# Postgres Database configuration 
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres # 用户名
DB_PASSWORD=your-postgres-password
DB_NAME=redbear-mem # 默认数据库

# Database Migration Configuration
# Set to true to automatically upgrade database schema on startup
DB_AUTO_UPGRADE=True # 自动执行迁移文件升级数据库结构



# Redis configuration
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=password

#celery
BROKER_URL=redis://:password@127.0.0.1:6379/1
RESULT_BACKEND=redis://:password@127.0.0.1:6379/2
CELERY_BROKER=1
CELERY_BACKEND=2

# ElasticSearch configuration
ELASTICSEARCH_HOST=https://127.0.0.1
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=your-elasticsearch-password
ELASTICSEARCH_VERIFY_CERTS=False
ELASTICSEARCH_CA_CERTS=
ELASTICSEARCH_REQUEST_TIMEOUT=100000
ELASTICSEARCH_RETRY_ON_TIMEOUT=True
ELASTICSEARCH_MAX_RETRIES=10

# xinference configuration
XINFERENCE_URL=http://127.0.0.1


# LLM Request Configuration
# LLM请求超时时间（秒），默认120秒。如果遇到超时错误，可以适当增加此值
LLM_TIMEOUT=120.0
# LLM请求最大重试次数，默认2次。减少重试次数可以更快地发现问题
LLM_MAX_RETRIES=2

# This key is used for signing JWT tokens.
# It should be a long, random string and kept secret.
# Generate a new one with: openssl rand -hex 32
SECRET_KEY=your-secret-key-here-generate-with-openssl-rand-hex-32

# JWT Token expiration settings
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Single Sign-On configuration
ENABLE_SINGLE_SESSION=false

# File Upload
MAX_FILE_SIZE=52428800  # 50MB:10 * 1024 * 1024
FILE_PATH=/files

# RAG Setting
DOTNET_SYSTEM_GLOBALIZATION_INVARIANT=1
HF_ENDPOINT=https://hf-mirror.com
MINERU_EXECUTABLE=mineru
MINERU_APISERVER=http://host.docker.internal:9987
MINERU_OUTPUT_DIR=
MINERU_BACKEND=pipeline
MINERU_DELETE_OUTPUT=1
TEXTLN_APISERVER=https://api.textin.com/ai/service/v1/pdf_to_markdown
TEXTLN_APP_ID=
TEXTLN_SECRET_CODE=

# VOLC ASR
VOLC_APP_KEY=
VOLC_ACCESS_KEY=
VOLC_SUBMIT_URL=https://openspeech.bytedance.com/api/v3/auc/bigmodel/submit
VOLC_QUERY_URL=https://openspeech.bytedance.com/api/v3/auc/bigmodel/query

# Server Configuration
SERVER_IP=127.0.0.1
SELECTED_LLM_ID=


web_search=
KB_embedding_id=
KB_reranker_id=
KB_llm_id=
KB_image2text_id=

config_id=
reranker_id=

